.image {
  position: relative;
  height: 340px;
  border-radius: 12px;
  overflow: hidden;
}
.heading {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 8px 0;
}
.heading p {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
